* {
    margin:0;
    padding:10px;
    box-sizing: content-box;
}
body {
    font-family:'Times New Roman', Times, serif;
    font-size: 0.97rem;
    background-color:beige;
}
header {
    background-color:turquoise;
    color:red;
    text-align:center;
    padding:20px;
}
.container {
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    gap:20%;
    padding:10%;
}
.card {
    flex: 1 1 23%;
    text-align:center;
    min-height: 150px;
    background-color: orange;
    display:flow-root;
    align-items: flex-end;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: 0.3s;
    padding-top: 30px;
    padding-bottom:0.5px;
    margin-bottom:20px;
}
.card:hover {
    transform: scale(1.05);
}
@media (max-width: 800px) {
    .card {
        flex: 1 1 48%;
    }
}
@media (max-width: 500px) {
    .card {
        flex: 1 1 98%;
    }
}